.btn {
  color: $black;
  @include font(1.125rem, 700, 1.223);
  border: 0;

  &.btn-main {
    padding: 1.0625rem;
    border-radius: 1.25rem;
    background-color: $yellow;

    &:hover {
      background-color: $yellow-hover;
    }
  }

  &.btn-lang {
    display: block;
    padding: 0;
    font-size: 1rem;
    line-height: 1.1875;
  }

  &.btn-back {
    padding-left: 2.5rem;
    font-size: 1rem;
    line-height: 1.25;
    background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1619 8.22192L11.3837 16.0001' stroke='%230C0C0C' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.3835 16.0001L19.1617 23.7783' stroke='%230C0C0C' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") left center no-repeat;
  }

  &.btn-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border: 3px solid $review-grey;
    border-radius: 0.625rem;

    .btn-upload__img {
      flex: 0 0 2.125rem;
      max-width: 2.125rem;
      height: 2.125rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      background: $yellow url("data:image/svg+xml,%3Csvg width='25' height='22' viewBox='0 0 25 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.16565 14.6596L13.9156 6.91962C14.4051 6.43048 15.0687 6.1557 15.7607 6.1557C16.4526 6.1557 17.1162 6.43048 17.6057 6.91962V6.91962C17.8475 7.16111 18.0395 7.44788 18.1704 7.76361C18.3013 8.07934 18.3687 8.41778 18.3687 8.75958C18.3687 9.10138 18.3013 9.43983 18.1704 9.75555C18.0395 10.0713 17.8475 10.3581 17.6057 10.5996L9.11566 19.0796C8.33182 19.8631 7.2689 20.3032 6.16064 20.3032C5.05239 20.3032 3.98953 19.8631 3.20569 19.0796V19.0796C2.81806 18.6923 2.51052 18.2324 2.30072 17.7263C2.09092 17.2201 1.98291 16.6775 1.98291 16.1296C1.98291 15.5816 2.09092 15.0391 2.30072 14.5329C2.51052 14.0267 2.81806 13.5668 3.20569 13.1796L13.2057 3.17957C14.2852 2.1042 15.7469 1.50043 17.2707 1.50043C18.7945 1.50043 20.2561 2.1042 21.3357 3.17957V3.17957C21.8688 3.71177 22.2917 4.34387 22.5802 5.03967C22.8687 5.73547 23.0172 6.48136 23.0172 7.23462C23.0172 7.98787 22.8687 8.7337 22.5802 9.4295C22.2917 10.1253 21.8688 10.7574 21.3357 11.2896L12.0956 20.4996' stroke='%230C0C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: $black;
  }
}

.form-control {
  padding: 1.125rem 0.75rem;
  font-size: 1.25rem;
  color: $black;
  text-align: center;
  border: 3px solid $light-grey;
  border-radius: 1.25rem;

  &:focus {
    color: $black;
    border-color: $light-grey;
    box-shadow: none;
  }

  &.is-invalid {
    border-color: $pink;
    background-image: none;
  }

  & ~ .invalid-feedback {
    margin-top: 0.625rem;
    color: $pink;
    font-size: 1.25rem;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(112px);

  &--grey {
    background-color: $light-grey;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--400 {
    width: 400px;
    height: 400px;
  }

  &--564 {
    width: 564px;
    height: 564px;
  }

  &--620 {
    width: 620px;
    height: 620px;
  }

  &--700 {
    width: 700px;
    height: 700px;
  }

  &.circle-1 {
    right: calc(50% + 115px);
    top: -140px;
  }

  &.circle-2 {
    left: calc(50% + 98px);
    top: 107px;
  }

  &.circle-3 {
    right: calc(50% + 96px);
    top: 548px;
  }

  &.circle-4 {
    right: calc(50% + 232px);
    top: 1587px;
  }

  &.circle-5 {
    left: calc(50% + 178px);
    top: 2377px;
  }
}

.top-icon {
  position: absolute;
  border: 1px solid $yellow;
  border-radius: 50%;
  background-color: $white;

  &--81 {
    width: 81px;
    height: 81px;
  }

  &--132 {
    width: 132px;
    height: 132px;
  }

  &.top-icon-1 {
    left: calc(50% - 700px);
    top: 173px;
    background: $white url('../img/icons/icon-package.png') center no-repeat;
  }

  &.top-icon-2 {
    right: calc(50% - 684px);
    top: 139px;
    background: $white url('../img/icons/icon-cocktail-glass.png') center no-repeat;
  }

  &.top-icon-3 {
    left: calc(50% - 606px);
    top: 519px;
    background: $white url('../img/icons/icon-thumbs-up-2.png') center no-repeat;
  }

  &.top-icon-4 {
    right: calc(50% - 676px);
    top: 449px;
    background: $white url('../img/icons/icon-credit-card.png') center no-repeat;
  }
}

.list-bullet {
  list-style: initial;
  padding-left: 1.625rem;
}

@include until($xxl) {
  .top-icon {  
    &.top-icon-1 {
      left: calc(50% - 586px);
      top: 138px;
    }
  
    &.top-icon-2 {
      right: calc(50% - 582px);
      top: 108px;
    }
  
    &.top-icon-3 {
      left: calc(50% - 564px);
    }
  
    &.top-icon-4 {
      right: calc(50% - 562px);
    }
  }
}

@include until($xl) {
  .top-icon {  
    &.top-icon-1 {
      left: calc(50% - 496px);
      top: 332px;
    }
  
    &.top-icon-2 {
      right: calc(50% - 486px);
      top: 362px;
    }
  
    &.top-icon-3 {
      left: calc(50% - 416px);
      top: 492px;
    }
  
    &.top-icon-4 {
      right: calc(50% - 394px);
      top: 562px;
    }
  }
}

@include until($lg) {
  .circle {
    filter: blur(72px);

    &--400 {
      width: 267px;
      height: 267px;
    }
  
    &--564 {
      width: 376px;
      height: 376px;
    }
  
    &--620 {
      width: 413px;
      height: 413px;
    }
  
    &--700 {
      width: 467px;
      height: 467px;
    }
  
    &.circle-1 {
      right: calc(50% + 102px);
      top: -74px;
    }
  
    &.circle-2 {
      left: calc(50% + 56px);
      top: 52px;
    }
  
    &.circle-3 {
      right: calc(50% + 78px);
      top: 332px;
    }
  
    &.circle-4 {
      right: calc(50% + 172px);
      top: 1100px;
    }
  
    &.circle-5 {
      left: calc(50% + 190px);
      top: 1630px;
    }
  }

  .top-icon {  
    &--81 {
      width: 50px;
      height: 50px;
    }
  
    &--132 {
      width: 80px;
      height: 80px;
    }

    &.top-icon-1 {
      left: calc(50% - 376px);
      top: 280px;
      background-size: 65%;
    }
  
    &.top-icon-2 {
      right: calc(50% - 328px);
      top: 336px;
      background-size: 80%;
    }
  
    &.top-icon-3 {
      left: calc(50% - 296px);
      top: 374px;
      background-size: 64%;
      background-position: left 10px top 13px;
    }
  
    &.top-icon-4 {
      right: calc(50% - 286px);
      top: 504px;
      background-size: 54%;
    }
  }
}

@include until($md) {
  .circle {
    filter: blur(112px);
  
    &--700 {
      width: 400px;
      height: 400px;
    }
  
    &.circle-1,
    &.circle-3,
    &.circle-4,
    &.circle-5 {
      display: none;
    }
  
    &.circle-2 {
      left: calc(50% - 122px);
      top: 38px;
    }
  }

  .top-icon {
    display: none;
  }
}