.review-wrapper {
  background-color: $black;
  background: linear-gradient($yellow 0%, $yellow 25%, $black 25%, $black 100%);
}

.review-main {
	position: relative;
	flex: 0 0 auto;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2.5rem;
	border-bottom-left-radius: 1.875rem;
	border-bottom-right-radius: 1.875rem;
	background-color: $white;
}

.review-footer {
	flex: 1 0 auto;
}

.border-dashed {
  border-bottom: 2px dashed $review-light-grey;
}

// review header
.review-header {
  padding-top: 0.9375rem;
  padding-top: 0.5625rem;

  .nav-lang-mobile {
    margin-right: 0;

    .btn-lang {
      padding-top: 0.40625rem;
      padding-bottom: 0.40625rem;
    }
  }
}

// review top
.review-top {
  padding-bottom: 2.5rem;
  text-align: center;

  h3 {
    line-height: 1.2;
  }

  &__logo {
    height: 6.25rem;
    margin-bottom: 0.625rem;
  }

  .review-top__title {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  }

  .review-top__subtitle {
    font-size: 1rem;
  }

  &--tips {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;

    .review-top__logo {
      height: 4rem;
    }

    .review-top__title {
      margin-bottom: 0.25rem;
      font-size: 1.25rem;
      font-weight: 700;
    }

    .review-top__fullname {
      font-size: 1rem;
    }

    .review-top__position {
      font-size: 0.875rem;
      color: $grey;
    }

    .review-top__company {
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }

    .review-top__address {
      font-size: 0.875rem;
    }
  }
}

.review-menu {
  li {
    margin-bottom: 0;

    & + li {
      margin-top: 1.25rem;
    }
  }

  .review-link {
    display: block;
    position: relative;
    padding: 1.125rem 1.125rem 1.125rem 4.1875rem;
    font-weight: 700;
    line-height: 1.223;
    border: 3px solid $review-grey;
    border-radius: 0.625rem;

    &::before {
      position: absolute;
      content: '';
      left: 0.6875rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background-color: $yellow;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--menu {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21.5C13.44 20.367 15.1759 19.6726 17 19.5C18.4368 19.5464 19.8632 19.7612 21.25 20.14C21.4004 20.1789 21.5578 20.1823 21.7097 20.1498C21.8616 20.1173 22.0039 20.0498 22.1252 19.9527C22.2466 19.8557 22.3436 19.7317 22.4086 19.5907C22.4737 19.4496 22.505 19.2953 22.5 19.14V4.13999C22.4999 3.93448 22.4365 3.73397 22.3184 3.56577C22.2003 3.39757 22.0333 3.26986 21.84 3.19999C20.2788 2.68722 18.6432 2.43716 17 2.46C16.0704 2.40172 15.1396 2.55097 14.2748 2.89689C13.41 3.2428 12.633 3.77671 12 4.46V21.5Z' stroke='%230C0C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 21.5C10.56 20.367 8.82417 19.6726 7.00002 19.5C5.5632 19.5464 4.13678 19.7612 2.75002 20.14C2.59962 20.1789 2.44222 20.1823 2.2903 20.1498C2.13839 20.1173 1.99615 20.0498 1.87484 19.9527C1.75352 19.8557 1.65651 19.7317 1.59145 19.5907C1.52639 19.4496 1.49507 19.2953 1.50002 19.14V4.13999C1.50011 3.93448 1.5635 3.73397 1.6816 3.56577C1.79969 3.39757 1.96678 3.26986 2.16005 3.19999C3.72133 2.68722 5.35685 2.43716 7.00002 2.46C7.92959 2.40172 8.86052 2.55097 9.7253 2.89689C10.5901 3.2428 11.3671 3.77671 12 4.46V21.5Z' stroke='%230C0C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }

    &--tips {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 5.5H3.5C2.39543 5.5 1.5 6.39543 1.5 7.5V16.5C1.5 17.6046 2.39543 18.5 3.5 18.5H20.5C21.6046 18.5 22.5 17.6046 22.5 16.5V7.5C22.5 6.39543 21.6046 5.5 20.5 5.5Z' stroke='%230C0C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.5 9.5H1.5V10.5H22.5V9.5Z' stroke='%230C0C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }

    &--testimonial {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.94989 10.7301C3.43482 12.4403 3.16217 14.2142 3.13989 16.0001C3.13989 18.7901 4.03992 19.5001 4.03992 19.5001H7.03992C7.88006 19.5018 8.71665 19.6093 9.52991 19.8201L11.0599 20.2301C11.9107 20.459 12.7889 20.57 13.6699 20.5601C15.2899 20.5601 17.6099 20.2701 17.6099 18.9701C17.6266 18.6673 17.5353 18.3683 17.3521 18.1266C17.169 17.8848 16.906 17.716 16.6099 17.6501C16.6099 17.6501 18.7099 17.8401 18.7099 16.2901C18.7099 15.0601 17.2299 14.9701 17.2299 14.9701C17.2299 14.9701 19.2299 15.1701 19.2299 13.5001C19.2299 11.8301 17.0999 11.7801 17.0999 11.7801C17.2991 11.791 17.4984 11.761 17.6855 11.692C17.8727 11.6229 18.0437 11.5162 18.188 11.3784C18.3324 11.2407 18.4469 11.0748 18.5246 10.8911C18.6023 10.7073 18.6416 10.5096 18.6399 10.3101C18.6399 8.98012 16.9599 8.89014 16.9599 8.89014L12.9599 8.50012C13.3656 7.46469 13.602 6.3707 13.6599 5.26013C13.6599 1.83013 12.2199 1.44013 11.5299 1.45013C11.4325 1.45735 11.3411 1.5 11.2729 1.57001C11.2047 1.64001 11.1645 1.73254 11.1599 1.83014C11.0029 3.8304 10.3942 5.76899 9.37988 7.50012C8.02988 9.82012 3.94989 10.7301 3.94989 10.7301Z' stroke='%230C0C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
  }
}

.review-form {
  padding-top: 1.25rem;

  &__subtitle {
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }

  .form-group {
    margin-bottom: 0.625rem;

    &--review {
      margin-bottom: 1.25rem;
    }

    &.review-form__upload {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }

    &.has-error {
      .form-control {
        background-color: #F8EFEF;

        & ~ .help-block-error {
          margin-top: 0.25rem;
          color: #FF4141;
          font-size: 0.875rem;
        }
      }
    }
  }

  .form-label {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: $review-label;
  }

  .form-control {
    padding: 1rem 0.625rem;
    font-size: 1rem;
    color: #0C0C0C;
    font-weight: 700;
    text-align: left;
    border: 0;
    border-radius: 0.625rem;
    background-color: $review-light-grey;

    &.is-invalid {
      background-color: #F8EFEF;
    }
  
    & ~ .invalid-feedback {
      margin-top: 0.25rem;
      color: #FF4141;
      font-size: 0.875rem;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: $review-placeholder;
    font-weight: 400;
  }

  .form-submit {
    margin-top: 0.625rem;

    .btn-main {
      width: 100%;
      padding: 1.3125rem 0.75rem;
      border-radius: 0.625rem;
    }
  }

  &__buttons {
    .row {
      --bs-gutter-x: 0.625rem;
    }

    .btn-tips {
      width: 100%;
      margin-bottom: 0.625rem;
      padding: 0.9375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      border: 3px solid $review-grey;
      border-radius: 0.625rem;
    }
  }

  &__help {
    font-size: 0.75rem;
  }

  &__upload {
    input[type="file"] {
      display: none;
    }

    .btn-upload {
      width: 100%;
    }

    .load-file-name {
      font-size: 0.75rem;
    }
  }
}

.review-service {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .review-service__title {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  .review-service__rating {
    margin-top: 1.25rem;
    font-size: 1rem;
    text-align: center;
  }
}

.review-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .review-item {
    flex: 0 0 52px;
    max-width: 52px;
    height: 52px;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: $lightest-grey;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
    cursor: pointer;

    &--1 {
      background-image: url("../img/review/review-item-1.svg");
    }

    &--2 {
      background-image: url("../img/review/review-item-2.svg");
    }

    &--3 {
      background-image: url("../img/review/review-item-3.svg");
    }

    &--4 {
      background-image: url("../img/review/review-item-4.svg");
    }

    &--5 {
      background-image: url("../img/review/review-item-5.svg");
    }

    &.active {
      transform: scale(1.3846);
      background-position: center;
      background-repeat: no-repeat;

      &.review-item--1 {
        background-image: url("../img/review/review-item-1.svg"), linear-gradient(212.36deg, #FFCBAD 37.67%, #FFF6A3 97.85%);
      }
  
      &.review-item--2 {
        background-image: url("../img/review/review-item-2.svg"), linear-gradient(215.25deg, #D2E7FB 13.97%, #FFF6A3 95.11%);;
      }
  
      &.review-item--3 {
        background-image: url("../img/review/review-item-3.svg"), linear-gradient(217.91deg, #FFF45F 16.71%, #FFFACD 81.94%);;
      }
  
      &.review-item--4 {
        background-image: url("../img/review/review-item-4.svg"), linear-gradient(180deg, #D7F091 0%, #FFF6A3 100%);;
      }
  
      &.review-item--5 {
        background-image: url("../img/review/review-item-5.svg"), linear-gradient(209.9deg, #6ECD42 13.98%, #FFF6A3 84.38%);;
      }
    }
  }
}

// review success
.review-success {
  padding-top: 4.5rem;
  padding-bottom: 3.125rem;
  text-align: center;

  &__img {
    margin-bottom: 1.25rem;

    img {
      width: 94px;
    }
  }

  .review-success__title {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .review-success__subtitle {
    font-size: 1rem;
  }

  &__button {
    margin-top: 3.75rem;

    .btn-main {
      width: 100%;
      padding: 1.3125rem 0.75rem;
      border-radius: 0.625rem;
    }
  }
}

// review footer
.review-footer {
  background-color: $black;

  &__wrapper {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0 5rem;
    color: $white;
    text-align: center;
  
    .footer-logo {
      margin-bottom: 0.625rem;
    }
  
    p {
      margin-bottom: 0;
      font-size: 0.875rem;
    }
  }
  
}

@include until($md) {
  .review-top {
    .review-top__title {
      font-size: 1.375rem;
    }

    .review-top__subtitle {
      font-size: 0.875rem;
    }
  }
}