body {
  color: $black;
  font-family: $font-main;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: $font-title;
  font-weight: 900;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 4.375rem;
  line-height: 1.143;
}

h2 {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  line-height: 1.1;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.375;
}

p, li {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.223;
}

a {
  @include font(1.125rem, 400, 1.2);
  color: $black;

  &:hover {
    color: $black;
  }
}

@include until($lg) {
  h1 {
    margin-bottom: 0.625rem;
    font-size: 3.125rem;
    line-height: 1.6;
  }
}

@include until($md) {
  h1 {
    margin-bottom: 1.25rem;
    font-size: 2rem;
    line-height: 1.0625;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.1;
  }

  p, li {
    font-size: 1rem;
  }
}

