// font-family: 'Inter', sans-serif;
// font-family: 'Nunito', sans-serif;

// fonts
$font-main: 'Inter', sans-serif;
$font-title: 'Nunito', sans-serif;

// colors
$black: #0C0C0C;
$yellow: #F6E71D;
$yellow-hover: #E8D305;
$white: #FFFFFF;
$grey: #8D99AE;
$light-grey: #D8E4FF;
$lightest-grey: #F8F7FF;
$pink: #ED6B86;

// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;